::selection {
   background-color: $clr1;
   color: $clr3;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-family: sans-serif;
   font-size: 16px;
   overflow-x: hidden;
   font-family: monsterrat, sans-serif;
   > * {
      margin: 0;
      padding: 0;
      border: none;
      list-style: none;
      text-decoration: none;
   }
   
   &.light{
      background: rgb(255, 255, 255, .1);
   }

   &.dark{
      background: rgba(14,15,27,.6);
   }

}



button {
   border: none;
   background-color: rgba(245, 245, 220, 0);
   cursor: pointer;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

body {
   margin: 0 auto;
   transition: 0.1s;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100%;

   &.dark {
      color: $clr5;
      $bg-color:$clr2;
      $g: transparent;
      $steps: 200;
      @for $i from 1 to $steps {
         $g: append($g, fade-out($bg-color, 1 / $i) percentage($i / $steps), comma);
         $g: append($g, fade-out($bg-color, 1 / $i) percentage(($i + 0.6) / $steps), comma);
      }
      $g: append($g, $bg-color);
      background: linear-gradient(152deg, rgba(28, 31, 54, 0.8) 0%, rgba(14, 15, 27, 1) 85%);
   }

   &.light {
      background: white;
      background: linear-gradient(152deg, rgba(255, 255, 255, 0.1) 0%, rgba(204, 206, 226, .6) 83%);
      color: $clr6;
   }
}

a {
   color: inherit;
   text-decoration: none;
}
