// COLOR PALETTE
$clr1: #ff4a57;
$clr2: #23263a;
$clr3: #2e3043;
$clr4: darken($clr1, 40%);
$clr5: white;
$clr6: #212336;
$clr7: #ff4a562d;
// LAYOUT
$layoutPadding: min(10vw, 400px);
$normalPadding: 15vw;
$smallPadding: 7.5vw;
$headerHeight: 90px;
$layoutWide: 10em;

// LAYOUT BREAKPOINTS
$break-hero: 650px;
$break-mobile: 750px;
$break-tablet: 900px;
$break-laptop: 1360px;
$break-wide: 1920px;


// MARGINS
$layoutMargin:min(50px,10vw);
