.action-container {
   padding: 0 $normalPadding;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   z-index: 1;
   width: 90%;
   @media only screen and (max-width: $break-laptop) {
      width: 100%;
      padding: 0 $smallPadding;
   }
   @media only screen and (max-width: 380px) {
      padding: 0 10px;
   }
}

.call-to-action {
   background: $clr5;
   color: $clr2;
   padding: min(22px, 2vw) max(1.2vw, 10px);
   border-radius: 5px;
   z-index: 1;
   margin: 0 auto;

   @media only screen and (max-width: $break-mobile) {
      font-size: 12px;
   }
   h2 {
      font-size: clamp(1rem, 7vw, 3rem);
      margin-bottom: min(22px, 2vw);
      text-align: center;
      border-bottom: 1px rgba(197, 197, 197, 0.103) solid;
      line-height: 1em;
   }

   p {
      text-align: center;
      font-size: clamp(1rem, 5vw, 1.5rem);
      margin-bottom: 22px;
   }

   form {
      .top {
         display: flex;
         justify-content: space-between;
         max-height: 2.5em;
         margin-bottom: min(22px, 2vw);
         font-size: clamp(1rem, 8vw, 2rem);
         input {
            display: flex;
            align-items: center;
            font-size: clamp(12px, 5vw, 2em);
            border-radius: 25px;
            width: 60%;
            border: none;
            border: 1px rgb(175, 175, 175) solid;
            padding: 0.6em 1em;
            height: 1em;
            font-size: clamp(12px, 4vw, 1.2em);
            &::placeholder {
               font-size: 0.5em;
               color: rgb(177, 176, 176);
               position: relative;
               bottom: 0.25em;
            }
         }

         button {
            margin-left: min(1rem, 5vw);
            flex: 1;
            font-size: clamp(0.8rem, 5vw, 1.5rem);
            @media only screen and (max-width: $break-mobile) {
               font-size: clamp(0.3rem, 3vw, 1.5rem);
               line-height: 1em;
            }
         }

         .marked-input {
            color: $clr1;
         }
      }

      textarea {
         padding: 0 1em;
         font-size: clamp(0.6rem, 2.5vw, 1.2rem);
         line-height: 1.5em;
         width: 100%;
         @media only screen and (max-width: $break-mobile) {
            width: 100%;
         }
      }
   }
}

body {
   &.light {
      .call-to-action {
         color: white;
         background-color: $clr2;
         input {
            border: 1px $clr2 solid;
         }
      }
   }
}
