.footer {
   padding: 5em $layoutPadding 0;
   border-top: 1px $clr2 solid;

   .logo {
      margin-bottom: 2em;
   }

   .about {
      @media only screen and (max-width: $break-mobile) {
         flex-direction: column;
         > * {
            margin-block-end: 1em;
            border-bottom: 1px rgba(255, 255, 255, 0.11) solid;
         }
      }
      display: flex;
      justify-content: space-between;

      > * {
         flex: 1;
      }

      .contact {
         display: flex;
         flex-direction: column;
         justify-content: center;
         > * {
            display: flex;
            // justify-content: center;
         }
      }
      img {
         height: 1em;
         margin-inline-end: min(5vw, 10px);
      }
      .loc {
         display: flex;
      }
      ul {
         list-style: none;
         padding: 0;
         li {
            display: flex;
            // border: 1px black solid;
            margin-block-end: 1em;
            justify-content: flex-start;
            img {
               //    margin-inline-end: 2vw;
            }
         }
      }
   }
}

.footer-container {
   position: absolute;
   bottom: 0;
   margin: 0 auto;
   width: 100vw;
}
