.gallery-container {
   padding: 0 $layoutPadding;
   .gallery {
      display: flex;
      height: 80vw;
      // flex-direction: column-reverse;
      @media only screen and (max-width: $break-narrow) {
         flex-direction: column-reverse;
      }
      > * {
         border: 1px rgb(0, 0, 0) solid;
      }
      .text {
         flex: 1;
         font-size: 20px;
         header {
            font-size: 1.5em;
            margin-bottom: 1em;
            span{
               color: $clr1;
            }
         }
         p {
            margin-bottom: 1em;
            font-size: 0.6em;
         }

         .tech{
            
         }
      }

      .images {
         flex: 3;
         position: relative;
         @media only screen and (max-width: $break-narrow) {
            flex: 1;
         }
      }
   }

   .pager {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 110%;
      @media only screen and (max-width: $break-narrow) {
         top: -10%;
      }
   }

   .item {
      width: 100%;
      height: 100%;
      background-image: url('https://i.ibb.co/KFBbC84/Scene.png');
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      position: relative;
      bottom: 6%;
   }
}
