.gallery-container {

   margin-top: 3em;
   padding: 0 $layoutPadding;
   header {
      @media only screen and (max-width: $break-narrow) {
         text-align: center;
         font-size: 1.4em;
      }
      font-size: 1.5em;
      margin-bottom: 1em;
      span{
         color: $clr1;
      }
   }
   .gallery {
      display: flex;
      // flex-wrap: wrap;
      height: max(400px,80vw);
      // flex-direction: column-reverse;
      @media only screen and (max-width: $break-narrow) {
         flex-direction: column-reverse;
      }
      > * {
         // border: 1px rgb(0, 0, 0) solid;
      }
      .text {
         flex: 1;
         font-size: 18px;
      
         p {
            margin-bottom: 1em;
            font-size: 0.6em;
         }

         .tech{

         }
      }

      .images {
         flex: 3;
         position: relative;
         @media only screen and (max-width: $break-narrow) {
            flex: 1;
         }
      }
   }

   .pager {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 110%;
      @media only screen and (max-width: $break-narrow) {
         top: -10%;
      }
   }

   .item {
      // width: 100%;
      height: max(300px,100%);
      
      background-image: url('https://i.ibb.co/KFBbC84/Scene.png');
      background-image: url('https://i.ibb.co/xDQd1sV/Scene.png');
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      position: relative;
      bottom: 6%;
      @media only screen and (max-width: $break-narrow) {
         // height: 300px;
      }
   }
}
