.gallery-container {
   height: max-content;
   position: relative;
   margin-bottom: clamp(2rem,15vw,20rem);

   .gallery-header {
      padding: 0 $layoutPadding;
      text-align: center;
      font-size: clamp(1.5rem, 5vw, 3rem);
      margin-bottom: $layoutMargin;
      line-height: 1.2em;
      span {
         color: $clr1;
      }
   }
   
   .gallery-body {
      filter: blur(0px);
      display: flex;
      position: relative;
      padding: 0 7.5em;
      margin-bottom: max(2rem,40px);

      @media only screen and (max-width: $break-laptop) {
         flex-direction: column;
         padding: 0 $smallPadding;
         margin-bottom: $layoutMargin;
      }

      @media only screen and (max-width: $break-tablet) {
         // font-size: 13px;
      }

      header {
         font-size: $headerFont;
         @media only screen and (max-width: $break-mobile) {
            text-align: center;
         }

         @media only screen and (max-width: 550px) {
            margin-top: 0.5em;
         }
      }

      // MOCKUP
      .mockup-img {
         width: 200%;
         height: 30vw;
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         margin-inline-end: 30px;
         margin-bottom: $layoutMargin;
         @media only screen and (max-width: $break-laptop) {
            height: 35vw;
            width: 100%;
         }

         @media only screen and (max-width: $break-mobile) {
            height: 40vw;
         }
      }
     
      .text {
         max-width: clamp(700px,25vw, 750px);
         max-width: 600px;
         align-self: center;
         @media only screen and (max-width: 1650px) {
            max-width: 500px;
         }
         @media only screen and (max-width: $break-laptop) {
            position: static;
            max-width: max-content;
            display: flex;
            .script {
               flex: 2;
            }
            .tech {
               flex: 1;
            }
         }
         @media only screen and (max-width: $break-mobile) {
            flex-direction: column;
         }

         header {
            padding-bottom: 5px;
            border-bottom: 1px rgba(128, 128, 128, 0.281) solid;
         }

         p {
            margin-top: 10px;
            line-height: 1.3em;
            font-size: 20px;
            word-spacing: 2px;
            
         }

         .script {
            p {
               height: 15em;
               font-size: clamp(1rem, 1.5vw, 1.5rem);
               @media only screen and (max-width: $break-laptop) {
                  width: 90%;
               }
               @media only screen and (max-width: $break-tablet) {
                  margin-bottom: 40px;
                  width: 100%;
               }
               @media only screen and (max-width: $break-mobile) {
                  height: max-content;
                  margin-bottom: 30px;
               }
            }
         }

         .pagintaion {
            display: none;
            @media only screen and (max-width: $break-mobile) {
               display: flex;
            }
            margin-bottom: 25px;
         }
      }
   }

   .gallery-scroll{
      width: 20px;
      height: 10%;
      border: 1px rgba(255, 0, 0, 0) solid;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: -3em;
   }
}

