.gallery-container {
   // HEADER
   height: max-content;
   max-width: 100%;
   .gallery-header {
      padding: 0 $layoutPadding;
      text-align: center;
      @media only screen and (max-width: $break-tablet) {
         line-height: 6em;
         font-size: 1.4em;
         // margin-bottom: 6em;
      }

      @media only screen and (max-width: 400px) {
         line-height: 1.5em;
         font-size: 1.4em;
         position: relative;
         bottom: 1em;
      }
      @media only screen and (max-width: $break-laptop) {
         margin-bottom: 2em;
      }
      font-size: min(3em, 4vw);
      span {
         color: $clr1;
      }
   }

   // BODY
   .gallery-body {
      filter: blur(0px);
      display: flex;
      padding: 0 7.5em;
      position: relative;
      bottom: 6vh;
      @media only screen and (max-width: $break-laptop) {
         flex-direction: column;
         padding: 0 $smallPadding;
      }

      @media only screen and (max-width: $break-laptop) {
         margin-bottom: 3vh;
      }

      @media only screen and (max-width: $break-tablet) {
         padding: 0 $smallPadding;
         font-size: 13px;
      }
      header {
         font-size: 2.5em;
         @media only screen and (max-width: $break-mobile) {
            text-align: center;
            font-size: 1.4em;
         }

         @media only screen and (max-width: 550px) {
            margin-top: 0.5em;
         }
      }

      .text {
         max-width: 600px;
         @media only screen and (max-width: $break-laptop) {
            max-width: max-content;
            display: flex;
            .script {
               flex: 2;
            }
            .tech {
               flex: 1;
               
            }
         }
         @media only screen and (max-width: $break-mobile) {
            flex-direction: column;
         }
         align-self: center;
         header {
            border-bottom: 1px rgba(128, 128, 128, 0.281) solid;
            line-height: 1.5em;
         }
         p {
            margin-top: 1em;
            margin-bottom: 1em;
            line-height: 1.3em;
            height: 12em;
            @media only screen and (max-width: $break-laptop) {
               height: 8em;
               width: 90%;
            }
            @media only screen and (max-width: $break-mobile) {
               height: max-content;
               width: 100%;
            }
            @media only screen and (max-width: 560px) {
               height: max-content;
            }
         }
      }

      // PORTFOLIO

      .mockup-img {
         width: 200%;
         height: 45vw;
         margin-inline-end: 30px;
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         @media only screen and (max-width: 1700px) {
            width: 300%;
         }
         @media only screen and (max-width: $break-laptop) {
            width: 100%;
            margin: 0 auto 4em;
         }
      }
   }

   .pagintaion {
      padding-bottom: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 2em;
      font-size: 2.5rem;
      // display: none;
      @media only screen and (max-width: $break-laptop) {
         // top: -2em;
         position: static;
      }
      @media only screen and (max-width: $break-tablet) {
         top: -2em;
      }
      button {
         font-family: fa-solid;
         // padding: 0 0.5em;
         font-size: 1em;
      }
      :nth-child(1) {
         &::before {
            content: '\f053';
         }
      }
      :last-child {
         &::before {
            content: '\f054';
         }
      }
      .page-dot {
         width: 25px;
         height: 25px;
         border-radius: 50%;
         margin: 0 1em;
         background-color: white;
         transition: 0.5s;
         &.active {
            background-color: $clr1;
         }
      }
   }
}
