.hero {
   filter: blur(0px);
   font-size: 4rem;
   z-index: 0;
   display: flex;
   align-items: center;
   padding: 0 $normalPadding;
   margin-bottom: $layoutMargin;
   line-height: 1px;
   @media only screen and (max-width: $break-laptop) {
      padding: 0 $smallPadding;
   }

   > * {
      flex: 1;
   }
   gap: 10vw;

   @media only screen and (max-width: $break-mobile) {
      flex-direction: column-reverse;
      gap: 30px;
   }
   .content-container {
      flex: 3;
      h1 {
         margin: 0 auto;
         font-size: clamp(2rem, 7vw, 4rem);
         margin-bottom: $headerToContent;
         line-height: 1em;
         span {
            color: $clr1;
         }
      }
      $heroWidth:200px;
      p {
         font-size: clamp(14px, 3vw, 24px);
         line-height: 1.3em;
         max-width: $heroWidth;
         
         @media only screen and (max-width: $break-mobile) {
            margin-bottom: $headerToContent;
         }

         // ANIMATION
         background-position: left;
         background-size: 0% 100%;
         background-image: linear-gradient(white, white);
         display: inline;
         background-repeat: no-repeat;

         &:hover {
            cursor: none;
            color: $clr2;
            transition: background-size linear 13s, color 0.2s;
            animation-timing-function: linear;
            background-size: 100% 100%;
         }
         &.p-animation {
            @media only screen and (max-width: $break-mobile) {
               cursor: none;
               color: $clr2;
               transition: background-size linear 15s, color 0.2s;
               animation-timing-function: linear;
               background-size: 100% 100%;
            }
         }
      }

      @media only screen and (max-width: $break-hero) {
         font-size: 1.7rem;
         width: 100%;
         margin: 0 auto;
      }

      .main-btn {
         position: relative;
         bottom: 40px;
         margin-top: $layoutMargin;
         width: 40%;
         font-size: 22px;
         line-height: 2em;
         @media only screen and (max-width: $break-mobile) {
            width: 100%;
            position: static;
         }
      }
   }

   
}

body {
   &.light {
      .content-container{
         p {
            background-image: linear-gradient( $clr2, rgb(0, 0, 0) );
            &:hover{
               color: #f6f6fa;
            }
            &.p-animation {
               @media only screen and (max-width: $break-mobile) {
                  cursor: none;
                  color: #f6f6fa;
                  transition: background-size linear 15s, color 0.2s;
                  animation-timing-function: linear;
                  background-size: 100% 100%;
               }
            }
         }
      }
   }
}
