.hero {
   filter: blur(0px);
   font-size: 4rem;
   z-index: 0;
   display: flex;
   align-items: center;
   padding: 0 $normalPadding;
   margin-bottom: $layoutMargin;
   line-height: 1px;
   @media only screen and (max-width: $break-laptop) {
      padding: 0 $smallPadding;
   }

   > * {
      flex: 1;
   }
   gap: 10vw;

   @media only screen and (max-width: $break-mobile) {
      flex-direction: column-reverse;
      gap: 30px;
   }
   .content-container {
      @media only screen and (max-width: $break-mobile) {
         // border: 1px red solid;
         // width: 70%;
      }
      flex: 3;
      h1 {
         margin: 0 auto;
         font-size: clamp(2rem, 7vw, 4rem);
         margin-bottom: $headerToContent;
         line-height: 1em;
         span{
            color: $clr1;
         }
    
      }

      p {
         font-size: clamp(14px, 3vw, 24px);
         line-height: 1.3em;
         @media only screen and (max-width: $break-mobile) {
            margin-bottom: $headerToContent;
         }
         background-position: left;
         background-size: 0% 100%;
         background-image: linear-gradient(white, white);
         display: inline;
         background-repeat: no-repeat;
         &:hover {
            cursor: none;
            color: $clr2;
            transition: background-size linear 13s, color 0.2s;
            animation-timing-function: linear;
            background-size: 100% 100%;
         }
         &.p-animation{
            @media only screen and (max-width: $break-mobile) {
               cursor: none;
               color: $clr2;
               transition: background-size linear 15s, color 0.2s;
               animation-timing-function: linear;
               background-size: 100% 100%;
            }
         }
      }

      @media only screen and (max-width: $break-hero) {
         font-size: 1.7rem;
         width: 100%;
         margin: 0 auto;
      }

      .main-btn {
         margin-top: $layoutMargin;
         width:55%;
         font-size: 22px;
         @media only screen and (max-width: $break-mobile) {
            width:100%;
         }
      }
   }

   .avatar-container {
      z-index: -1;
      min-width: max(150px, 15vw);
      display: inline-block;
      position: relative;
      @media only screen and (max-width: $break-mobile) {
         margin: 0 auto;
         display: none;
      }
      .dummy {
         margin-top: 100%;
      }
      .avatar {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         background-color: silver;
         border-radius: 50%;
         background-image: url('https://i.ibb.co/bg6HVMM/image.png');
         background-position: center;
         background-size: 87.5%;
         background-repeat: no-repeat;
      }
   }
}
