.pagintaion {
   display: flex;
   align-items: center;
   justify-content: center;
   // margin-top: $layoutMargin;
   @media only screen and (max-width: $break-mobile) {
      display: none;
   }

   $dotSize: clamp(10px, 8vw , 35px);
   @media only screen and (max-width: $break-mobile) {
      $dotSize: clamp(5px, 5vw , 35px);
   }
   @media only screen and (max-width: 400px) {
      $dotSize: clamp(5px, 5vw , 35px);
   }
   font-size: $dotSize;
   .page-dot {
      width: $dotSize;
      height: $dotSize;
      border-radius: 50%;
      margin: 0 1em;
      background-color: white;
      transition: 0.5s;
      &.active {
         background-color: $clr1;
      }
   }
   button {
      font-family: fa-solid;
      font-size: 1em;
      font-size: 1.5em;
      padding: 0 .5em;
      color: inherit;
   }
   :nth-child(1) {
      &::before {
         content: '\f100';
      }
   }
   :last-child {
      &::before {
         content: '\f101';
      }
   }
}

