.action-container{
   padding: 0 $normalPadding;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   bottom: 70%;

   @media only screen and (max-width: $break-laptop) {
      padding: 0 $smallPadding;
   }
}

.call-to-action {
   @media only screen and (max-width: $break-mobile) {
      font-size: 12px;
   }
 
   color: white;
   padding: 2vw 5vw ;
   width: 100%;
   background-color: $clr3;
   border-radius: 5px;
   z-index: 1;
   h2 {
      font-size: 2em;
      margin-bottom: 22px;
      text-align: center;
      border-bottom: 1px rgba(197, 197, 197, 0.103) solid;
      padding-bottom: .5em;
   }

   p {
      font-size: 1em;
      margin-bottom: 22px;
   }

   form {
      .top {
         display: flex;
         justify-content: space-between;
         max-height: 45px;
         margin-bottom: 2em;
         input {
            border-radius: 25px;
            padding-left: 1em;
            width: 60%;
            border: none;
            // margin-inline-end: 15vw;
            &::placeholder {
              
               font-size: 12px;
               color: rgb(177, 176, 176);
               position: relative;
               bottom: 2px;
            }

           
         }

       

         .marked-input{
            color: $clr1;
         }
      }
      textarea{
         @media only screen and (max-width: $break-mobile) {
            font-size: 10px;
         }
      }
      button {
         @media only screen and (max-width: $break-mobile) {
            font-size: .8em;
         }
         margin: 0;
         //  padding: 0 1em;
      }
   }

   textarea {
      font-size: 1em;
      width: 60%;
      padding: 0 1em;
      @media only screen and (max-width: $break-mobile) {
        width: 100%;
      }
   }
}


body{
    &.light{
        .call-to-action{
            // color: $clr2;

            input{
                border: 1px $clr2 solid;
            }
        }
    }
}