.action-container {
   padding: 0 $normalPadding;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   bottom: 70%;
   @media only screen and (max-width: $break-laptop) {
      padding: 0 $smallPadding;
   }
}

.call-to-action {
   background: $clr5;
   color: $clr2;
   padding: 2vw;
   width: 70%;
   border-radius: 5px;
   z-index: 1;
   margin: 0 auto;
   @media only screen and (max-width: $break-laptop) {
      width: 80%;
   }
   @media only screen and (max-width: $break-tablet) {
      width: 100%;
   }
   @media only screen and (max-width: $break-mobile) {
      font-size: 12px;
   }
   h2 {
      font-size: clamp(2rem,10vw,5rem);
      margin-bottom: 22px;
      text-align: center;
      border-bottom: 1px rgba(197, 197, 197, 0.103) solid;
      padding-bottom: 0.5rem;
   }
   
   p {
      text-align: center;
      font-size: clamp(1rem,5vw,1.5rem);
      margin-bottom: 22px;
   }

   form {
      .top {
         display: flex;
         justify-content: space-between;
         max-height: 45px;
         margin-bottom: 2em;
         button {
            width: 30%;
         }
         input {
            display: flex;
            align-items: center;
            font-size: clamp(12px, 7vw, 2rem);
            border-radius: 25px;
            width: 60%;
            border: none;
            border: 1px rgb(175, 175, 175) solid;
            // margin-inline-end: 15vw;
            padding: .5em 1em ;
            &::placeholder {
               font-size: .5em;
               color: rgb(177, 176, 176);
               position: relative;
               bottom: .25em;
            }
         }

         .marked-input {
            color: $clr1;
         }
      }
      textarea {
         font-size: clamp(.5rem, 4vw, 1.2rem);
         line-height: 1.5em;
         @media only screen and (max-width: $break-mobile) {
            // font-size: 10px;
         }
      }
      button {
         @media only screen and (max-width: $break-mobile) {
            font-size: 0.8em;
         }
         margin: 0;
         //  padding: 0 1em;
      }
   }

   textarea {
      font-size: 1em;
      width: 60%;
      padding: 0 1em;
      @media only screen and (max-width: $break-mobile) {
         width: 100%;
      }
   }
}

body {
   &.light {
      .call-to-action {
         color: white;
         background-color: $clr2;
         input {
            border: 1px $clr2 solid;
         }
      }
   }
}
