.blog-page {
   padding: 0 $normalPadding;
   min-height: 85vh;

   @media only screen and (max-width: $break-laptop) {
      padding: 0 $smallPadding;
   }
   h1 {
      font-size: 3rem;
      margin-bottom: 30px;
   }

   li {
      color: rgb(231, 231, 231);
      border-bottom: 1px rgba(0, 0, 0, 0.425) solid;
      width: max-content;
      line-height: 1.5em;
      margin-bottom: 2em;

      &.not-active{
        color: gray;
      }
   }
}
